body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../public/pexels-iriser-1379640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #0d6efd;
}

.chat {
  cursor: pointer;
}
.chat p {
  font-size: 18px;
}
.chat:hover {
  background-color: #43412f;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
.message-right {
  border-radius: 15px;
  background-color: rgba(16, 61, 31, 0.2);
}
.message-left {
  border-radius: 15px;
}
.messages {
  height: 400px;
}

.send {
  color: #43412f;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
